<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

    <!-- Facebook sharing information tags -->
    <meta property="og:title" content="*|MC:SUBJECT|*" />

    <title>{{type}} Transaction Report</title>

</head>
<body leftmargin="0" marginwidth="0" topmargin="0" marginheight="0" offset="0" style="background-color: #eeeeee">
<center>
    <table border="0" cellpadding="0" cellspacing="0" height="100%" width="100%" id="backgroundTable">
        <tr>
            <td align="center" valign="top" style="padding-top:20px;">
                <table border="0" cellpadding="0" cellspacing="0" width="600" id="templateContainer">
                    <tr>
                        <td align="center" valign="top">
                            <!-- // Begin Template Header \\ -->
                            <table border="0" cellpadding="0" cellspacing="0" width="600" id="templateHeader">
                                <tr>
                                    <td class="headerContent" align="center">

                                        <!-- // Begin Module: Standard Header Image \\ -->
                                        <img src="http://www.openhim.org/wp-content/uploads/2015/01/opehim-logo-green.png" style="max-width:300px;" id="headerImage campaign-icon" mc:label="header_image" mc:edit="header_image" mc:allowdesigner mc:allowtext />
                                        <!-- // End Module: Standard Header Image \\ -->

                                    </td>
                                </tr>
                            </table>
                            <!-- // End Template Header \\ -->
                        </td>
                    </tr>
                    <tr>
                        <td align="center" valign="top">
                            <!-- // Begin Template Body \\ -->
                            <table border="0" cellpadding="0" cellspacing="0" width="800" id="templateBody">
                                <tr>
                                    <td valign="top">
                                        <!-- // Begin Module: Standard Content \\ -->
                                        <table border="0" cellpadding="20" cellspacing="0" width="100%">
                                            <tr>
                                                <td valign="top" align="center" class="bodyContent">
                                                    <div mc:edit="std_content00">
                                                        <h1 class="h1" style="color: darkgreen">{{type}} Transaction  Report for {{instance}}</h1>
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td valign="top" style="padding-top:0; padding-bottom:0;">
                                                    <table border="0" cellpadding="10" cellspacing="0" width="100%" class="templateDataTable" style="border-collapse: collapse;">
                                                        <tr>
                                                            <th style="border: 1px solid black; background-color: darkgreen; color: white;" scope="col" valign="top" width="30%" class="dataTableHeading" mc:edit="data_table_heading00">
                                                                Channel
                                                            </th>
                                                            <th style="border: 1px solid black; background-color: darkgreen; color: white;" scope="col" valign="top" width="10%" class="dataTableHeading" mc:edit="data_table_heading00">
                                                                Load
                                                            </th>
                                                            <th style="border: 1px solid black; background-color: darkgreen; color: white;" scope="col" valign="top" width="10%" class="dataTableHeading" mc:edit="data_table_heading01">
                                                                Average Response (ms)
                                                            </th>
                                                            <th style="border: 1px solid black; background-color: darkgreen; color: white;" scope="col" valign="top" width="10%" class="dataTableHeading" mc:edit="data_table_heading02">
                                                                Failed
                                                            </th>
                                                            <th style="border: 1px solid black; background-color: darkgreen; color: white;" scope="col" valign="top" width="10%" class="dataTableHeading" mc:edit="data_table_heading03">
                                                                Successful
                                                            </th>
                                                            <th style="border: 1px solid black; background-color: darkgreen; color: white;" scope="col" valign="top" width="10%" class="dataTableHeading" mc:edit="data_table_heading04">
                                                                Processing
                                                            </th>
                                                            <th style="border: 1px solid black; background-color: darkgreen; color: white;" scope="col" valign="top" width="10%" class="dataTableHeading" mc:edit="data_table_heading05">
                                                                Completed
                                                            </th>
                                                            <th style="border: 1px solid black; background-color: darkgreen; color: white;" scope="col" valign="top" width="10%" class="dataTableHeading" mc:edit="data_table_heading06">
                                                                Completed with errors
                                                            </th>
                                                        </tr>
                                                        {{#each data}}
                                                        <tr style="{{rowColor}}">
                                                            <td style="border: 1px solid black;" valign="top" align="center" class="dataTableContent" mc:edit="data_table_content00"><strong>{{this.channel.name}}</strong></td>
                                                            <td style="border: 1px solid black; {{loadStyle}}" valign="top" align="center" class="dataTableContent" mc:edit="data_table_content01">{{this.load}}</td>
                                                            <td style="border: 1px solid black; {{avgRespStyle}}" valign="top" align="center" class="dataTableContent" mc:edit="data_table_content02">{{this.avgResp}}</td>
                                                            <td style="border: 1px solid black; {{failedStyle}}" valign="top" align="center" class="dataTableContent" mc:edit="data_table_content03">{{this.failed}}</td>
                                                            <td style="border: 1px solid black; {{successfulStyle}}" valign="top" align="center" class="dataTableContent" mc:edit="data_table_content04">{{this.successful}}</td>
                                                            <td style="border: 1px solid black; {{processingStyle}}" valign="top" align="center" class="dataTableContent" mc:edit="data_table_content05">{{this.processing}}</td>
                                                            <td style="border: 1px solid black; {{completedStyle}}" valign="top" align="center" class="dataTableContent" mc:edit="data_table_content06">{{this.completed}}</td>
                                                            <td style="border: 1px solid black; {{completedWErrorsStyle}}" valign="top" align="center" class="dataTableContent" mc:edit="data_table_content07">{{this.completedWErrors}}</td>
                                                        </tr>
                                                        {{/each}}
                                                    </table>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td align="center" valign="top" style="padding-top:0;">
                                                    <table border="0" cellpadding="15" cellspacing="0" class="templateButton">
                                                        <tr>
                                                            <td valign="middle" class="templateButtonContent">
                                                                <div>

                                                                </div>
                                                            </td>
                                                        </tr>
                                                    </table>
                                                </td>
                                            </tr>
                                        </table>
                                        <!-- // End Module: Standard Content \\ -->

                                    </td>
                                </tr>
                            </table>
                            <!-- // End Template Body \\ -->
                        </td>
                    </tr>
                    <tr>
                        <td align="center" valign="top">
                            <!-- // Begin Template Footer \\ -->
                            <table border="0" cellpadding="10" cellspacing="0" width="600" id="templateFooter">
                                <tr>
                                    <td valign="top" class="footerContent">

                                        <!-- // Begin Module: Transactional Footer \\ -->
                                        <table border="0" cellpadding="10" cellspacing="0" width="100%">
                                            <tr>
                                                <td valign="middle" id="utility"  align="center">
                                                    <div mc:edit="std_utility">
                                                        Generated on <em>{{date}}</em>
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td align="center" valign="top">
                                                    <div mc:edit="std_footer">
                                                        <em>Powered by <a href="http://www.openhim.org/" target="_blank">OpenHIM</a></em>
                                                        <br />
                                                    </div>
                                                </td>
                                            </tr>
                                        </table>
                                        <!-- // End Module: Transactional Footer \\ -->

                                    </td>
                                </tr>
                            </table>
                            <!-- // End Template Footer \\ -->
                        </td>
                    </tr>
                </table>
                <br />
            </td>
        </tr>
    </table>
</center>
</body>
</html>
